@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("../src/assets/fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../src/assets/fonts/Rubik-Bold.ttf");
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../src/assets/fonts/Rubik-Medium.ttf");
}
